/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/sample_project/db/migrations/
/spec/sample_project/db/seeds.rb
/spec/sample_project/bin/bundle
/spec/sample_project/bin/sequel

# rspec failure tracking
.rspec_status
